@font-face{font-family:'thai_sans_literegular';src:url("webfont/thaisanslite_r1-webfont.eot");src:url("webfont/thaisanslite_r1-webfont.eot?#iefix") format('embedded-opentype'),url("webfont/thaisanslite_r1-webfont.woff") format('woff'),url("webfont/thaisanslite_r1-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
.ellipsis{display:block;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;-webkit-flex:1;-moz-flex:1;flex:1;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.multiple_ellipsis{display:block;overflow:hidden;width:100%;height:2em;margin:0;padding:0;line-height:1em;}
.multiple_ellipsis::before{content:"";float:left;width:5px;height:2em}
.multiple_ellipsis::after{content:'\02026';float:right;position:relative;top:-1em;left:100%;width:3em;margin-left:-3em;padding-top:.25em;padding-right:5px;text-align:right;background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,0)),color-stop(50%,#fff));background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,#fff 50%);background:linear-gradient(left,rgba(255,255,255,0) 0,#fff 50%);}
.tap .multiple_ellipsis::after{background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(235,235,235,0)),color-stop(50%,#ebebeb)) !important;background:-webkit-linear-gradient(left,rgba(235,235,235,0) 0,#ebebeb 50%) !important;background:linear-gradient(left,rgba(235,235,235,0) 0,#ebebeb 50%) !important}
.multiple_ellipsis > *:first-child{float:right;width:100%;margin-left:-5px}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}
blockquote,q{quotes:none}
blockquote::before,blockquote::after,q::before,q::after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;cursor:pointer}
ins{background:none;text-decoration:none}
i,b{font-weight:normal;font-style:normal}
mark{background:none;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
input[type="search"]::-webkit-search-decoration{display:none}
button{-webkit-tap-highlight-color:transparent;-webkit-user-select:none}
a,input,button,select,li,textarea,article,div{-webkit-tap-highlight-color:rgba(0,0,0,0)}
html{font-size:62.5%;min-height:100%;background:#fff;position:absolute;top:0;bottom:0;left:0;right:0;margin:0}
body{position:relative;margin:0;color:#000;font-size:1.3rem;font-family:'lucida grande',verdana,arial,sans-serif;line-height:1.6;min-height:100%}
.vis-icon{width:40px;height:40px;background-image:url("../images/sprite.png");background-repeat:no-repeat;background-position:0 -96px}
.vis-social,.vis-facebook,.vis-twitter{width:20px;height:20px;background-image:url("../images/sprite.png");background-repeat:no-repeat}
.vis-facebook{background-position:-40px -96px}
.vis-twitter{background-position:-40px -116px}
a{color:#000;text-decoration:none;font-weight:bold;}
a:hover{text-decoration:underline}
h1{font-size:1.8rem;font-weight:bold;text-align:center}
.site-header{position:relative;width:1000px;margin:0 auto;}
@media (max-width: 500px){.site-header{width:100%}
}.site-header h1{padding:5px 0;}
.site-header h1 a{display:block;width:230px;height:76px;margin:0 auto;background-image:url("../images/sprite.png");background-repeat:no-repeat;background-position:0 0}
@media (max-width: 500px){.site-header h1{display:block;width:100%;background-color:#fff}
.site-header h1 a{width:115px;height:38px;background-size:175px 69px;margin:5px 0;margin-left:10px}
}.top-social{position:absolute;top:10px;right:0;width:120px;}
.top-social .item{float:left;margin-right:5px}
@media (max-width: 500px){.top-social{width:200px;top:10px;right:0;text-align:right}
.top-social .item{float:none;display:inline-block}
}.page-top .site-header{width:100%;margin:0}
.page-top .top-social{right:45px;}
@media (max-width: 500px){.page-top .top-social{right:0}
}.top-nav{width:1000px;margin:0 auto 10px;}
.top-nav ul{text-align:center;}
.top-nav ul li{display:inline-block;margin-right:20px;}
.top-nav ul li:last-child{margin-right:0}
.top-nav ul li a{font-size:1.3rem}
@media (max-width: 500px){.top-nav{width:100%;margin-bottom:0}
.top-nav ul li a{display:inline-block;height:30px;line-height:30px}
}article.page{width:1000px;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:1.3rem;}
@media (max-width: 500px){article.page{width:100%}
}article.page::after{content:'';display:block;clear:both}
article.page hr{width:100%;margin:0}
article.page .inline-block-middle{display:inline-block;vertical-align:middle}
article.page .heading{width:100%;height:70px;padding:10px 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
article.page .heading > .icon{margin:5px}
article.page .heading > h2{margin:13px 0 7px}
article.page .metadata{display:inline-block;vertical-align:middle;text-align:left}
article.page h2{font-size:1.8rem}
article.page .social{display:inline-block;vertical-align:middle;width:100px;text-align:left;margin-top:10px}
article.page h3{font-size:2.8rem}
article.page .desc{font-size:1.2rem;color:#000}
article.page .remark{padding:20px;text-align:left}
article.page p{text-align:left;text-indent:2em;margin-bottom:1em}
article.page .side-content{float:left;width:400px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 20px;}
@media (max-width: 500px){article.page .side-content{float:none;width:100%;padding:20px 0 10px}
}article.page .main-content{float:left;width:550px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 40px 40px 0;}
@media (max-width: 500px){article.page .main-content{float:none;width:100%;padding:10px 20px}
}.bold{font-weight:bold}
.gray{color:#666}
.float-left{float:left}
.float-right{float:right}
.centeredH{margin:auto;}
.centeredH left 0{right:0;}
.about-icon{width:40px;height:40px;background-image:url("../images/sprite.png");background-repeat:no-repeat;background-position:-60px -96px}
.banner-group{width:1000px;text-align:center;margin:0 auto;padding:10px 0 5px;}
@media (max-width: 500px){.banner-group{width:100%}
}.banner-group ul li{display:inline-block;padding:0 5px 0 0;}
.banner-group ul li a{display:inline-block;width:120px;height:40px;border:1px solid #ccc;background-image:url("../images/sprite.png");background-repeat:no-repeat}
.banner-group ul li img{width:100%;vertical-align:top}
.banner-group .copyright{font-size:1rem;}
.banner-group .copyright a{font-weight:normal}
.banner-group .banner-fbrdn{background-position:-230px 0}
.banner-group .banner-cityscape{background-position:-230px -40px}
.banner-group .banner-fbwityufm{background-position:-230px -80px;}
@media (max-width: 380px){.banner-group .banner-fbwityufm{display:none}
}.article-list{margin:0 auto;padding:0 40px;}
.article-list .container{display:-webkit-box;display:box;display:-ms-flexbox;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;max-width:1600px}
.article-list .article-item{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;-webkit-flex:1;-moz-flex:1;flex:1;padding:0 5px 5px;}
.article-list .article-item article h2{font-size:1.8rem;font-weight:bold;text-align:center;margin-bottom:5px;}
.article-list .article-item article h2 .sublink{font-size:1.2rem;margin-left:6px}
@media (max-width: 800px){.mobile-touch .article-list{display:block;position:relative;overflow:hidden;margin:0;padding:0}
.mobile-touch .article-list .container{display:block;padding-left:10px;padding-right:10px;max-width:9999px;max-width:initial;}
.mobile-touch .article-list .container .article-item{display:inline-block;padding:0 10px 0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
}.subtext{margin-top:5px;font-size:1.2rem;text-align:center}
.page-top .top-nav{width:100%}
.page-top .footer .banner-group{padding:0 0 10px}
