- var bodyClasses = ''
block doc
  doctype 5
  html
    head
      block head
        title= settings.title

        //- Viewport
        meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1")

        block shareMeta
          //- Google
          meta(name='description', content=settings.config.description)

          //- Facebook
          meta(property='og:title', content=settings.config.title)
          meta(property='og:description', content=settings.config.description)
          meta(property='og:type', content='website')
          meta(property='og:url', content=settings.config.baseurl)
          meta(property='og:image', content=settings.config.baseurl+'/public/images/share.png')

          //- Twitter
          meta(name='twitter:title', content=settings.config.title)
          meta(name='twitter:description', content=settings.config.description)
          meta(name='twitter:card', content='app')
          meta(name='twitter:url', content=settings.config.baseurl)
          meta(name='twitter:image', content=settings.config.baseurl+'/public/images/share.png')

        link(rel='stylesheet', href=version('/public/css/main.css'))
        script(src='http://code.jquery.com/jquery-2.0.3.js')
        script(src=version('/public/js/jquery.touchswipe.js'))

    body(class=bodyClasses)
      block body
        .site-header
          h1
            a(href=settings.config.baseurl)

          //- Share on SNS
          .top-social
            .item
              .fb-like(data-href=settings.config.baseurl, data-width="64", data-layout="box_count", data-show-faces="false", data-send="false", data-action='like')
            .item
              a.twitter-share-button(href="https://twitter.com/share", data-text=settings.config.description+" http://www.sejongdaero.com", data-url=settings.config.baseurl, data-count="vertical")


        //- nav.top-nav
        //-   ul
        //-     li
        //-       a(href='/') หน้าแรก
        //-     li
        //-       a(href='/vis/coup') อินโฟกราฟิก
        //-     li
        //-       a(href='/about') เกี่ยวกับเรา


      block footer

        .footer
          .banner-group
            //- ul
            //-   li
            //-     a.banner-fbwityufm(href='http://www.wityu.fm/?from_url='+location.href, target='_blank')
            //-   li
            //-     a.banner-cityscape(href='http://cityscape.wityu.fm/?from_url='+location.href, target='_blank')

            p.copyright
              | 문의하기 boonmeelab@gmail.com
              | &copy; 2014&nbsp;
              a(href='http://www.boonmeelab.com', target='_blank') 분미랩


      block script
        //- Facebook SDK
        script.
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=555194171203343";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        //- Twitter Timeline
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        //- Google Analytics
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46057237-2', 'sejongdaero.com');
          ga('send', 'pageview');

        //- Set up
        script.
          $(function() {

            // make social buttons small on mobile devices
            var screen_width = $(window).width();
            if (screen_width < 500) {
              $('.fb-like')
              .attr('data-layout', 'button_count')
              .attr('data-action', 'like')
              .attr('data-show-faces', 'false');

              $('.twitter-share-button')
              .attr('data-count', false);
            }

          });

