body{font-size:1.2rem}
.inline-block-middle,.infographic .vis-icon,.infographic .vis-facebook,.infographic .vis-twitter,.infographic .metadata,.infographic .social{display:inline-block;vertical-align:middle}
.infographic{width:1000px;text-align:center;border:1px solid #ccc;border-radius:4px;font-size:1.2rem;}
.infographic .content{font-family:'thai_sans_literegular','lucida grande',verdana,arial,sans-serif}
.infographic hr{width:100%;margin:0}
.infographic .vis-icon,.infographic .vis-facebook,.infographic .vis-twitter{margin:5px}
.infographic .metadata{text-align:left}
.infographic h2{font-size:1.8rem}
.infographic .social{width:100px;text-align:left;margin-top:10px}
.infographic h3{font-size:2.8rem;margin-bottom:15px}
.infographic .desc{font-size:1.2rem;color:#000}
.infographic #counter{font-size:5.6rem;color:#9e9a3a;margin:10px;line-height:5rem}
.infographic .counter-unit{font-size:2.8rem;color:#000}
.infographic .remark{padding:20px;text-align:left;}
.infographic .remark a{font-weight:normal}
.infographic #vis{width:800px;height:600px;margin-top:10px}
.infographic .bar{fill:#9e9a3a}
.infographic .axis path,.infographic .axis line{fill:none;shape-rendering:crispEdges;stroke:#ddd}
.infographic .avg line{fill:none;shape-rendering:crispEdges;stroke:#f30;stroke-dasharray:10,4}
.infographic .coup-by{font-size:1.1rem}
.infographic .coup-to{font-size:1.1rem}
.infographic #counter_avg,.infographic #counter_max,.infographic #counter_min{color:#9e9a3a}
.infographic .legend text{fill:#666}
.d3-tip{line-height:1;padding:12px;background:rgba(100,100,100,0.9);color:#fff;border-radius:2px}
.d3-tip:after{box-sizing:border-box;display:inline;font-size:10px;width:100%;line-height:1;color:rgba(100,100,100,0.9);content:"\25BC";position:absolute;text-align:center}
.d3-tip.n:after{margin:-1px 0 0 0;top:100%;left:0}
