.ellipsis{display:block;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;-webkit-flex:1;-moz-flex:1;flex:1;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.multiple_ellipsis{display:block;overflow:hidden;width:100%;height:2em;margin:0;padding:0;line-height:1em;}
.multiple_ellipsis::before{content:"";float:left;width:5px;height:2em}
.multiple_ellipsis::after{content:'\02026';float:right;position:relative;top:-1em;left:100%;width:3em;margin-left:-3em;padding-top:.25em;padding-right:5px;text-align:right;background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,0)),color-stop(50%,#fff));background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,#fff 50%);background:linear-gradient(left,rgba(255,255,255,0) 0,#fff 50%);}
.tap .multiple_ellipsis::after{background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(235,235,235,0)),color-stop(50%,#ebebeb)) !important;background:-webkit-linear-gradient(left,rgba(235,235,235,0) 0,#ebebeb 50%) !important;background:linear-gradient(left,rgba(235,235,235,0) 0,#ebebeb 50%) !important}
.multiple_ellipsis > *:first-child{float:right;width:100%;margin-left:-5px}
