extends common/layout

append head
  title="เกั้ยวกับเรา"

append body
  article.page.centeredH
    .heading
      .about-icon.icon.float-left
      h2.bold.float-left เกี่ยวกับเรา
    hr
    .side-content
      img(src='/public/images/about_banner.jpg')
    .main-content
      p
        | <strong>ราชดำเนิน ดอต อ็อก</strong>สร้างขึ้นโดยทีมงาน บุญมีแล็บ เพื่อเป็นสื่อกลางในการติดตามข่าวสารการเมืองอย่างรอบด้าน รวดเร็วทันเหตุการณ์ โดยใช้ ทวิตเตอร์ ไทม์ไลน์ของ พรรคการเมือง แกนนำ สื่อมวลชน ประชาชน และ <a href='https://twitter.com/search?q=%23Ratchadamnoen' target='_blank'>#Ratchadamnoen</a> ซึ่งทำให้ผู้ใช้สามารถเปรียบเทียบข่าวจริง ข่าวลือ ข่าวหลอกไปพร้อม ๆ กัน และก่อให้เกิดสติพิจารณาข้อมูลด้วยเหตุผลมากกว่าอารมณ์
      p
        | <strong>ราชดำเนิน ดอต อ็อก</strong>เป็นส่วนหนึ่งในการขับเคลื่อนสังคมที่ให้คุณค่ากับข้อมูล ที่นำไปสู่การคิดวิเคราะห์ บนพื้นฐานของสติและเหตุผล เพื่อนำไปสู่การกระทำที่สร้างสรรค์
      p
        | หากมีข้อสงสัย ติชม หรือต้องการร่วมงานกับเรา
        | อีเมลมาได้ที่ <strong>boonmeelab@gmail.com</strong>

