extends ../common/layout

block shareMeta
  //- Google
  meta(name='description', content='อินโฟกราฟิกวงเวียนรัฐประหาร โดย ราชดำเนิน ดอต อ็อก')

  //- Facebook
  meta(property='og:title', content='วงเวียนรัฐประหาร โดย ราชดำเนิน ดอต อ็อก')
  meta(property='og:description', content='อินโฟกราฟิกวงเวียนรัฐประหาร นับตั้งแต่การเปลี่ยนแปลงการปกครองในปี พ.ศ. 2475 มีการรัฐประหารในประเทศไทยแล้วทั้งหมด 12 ครั้ง ระยะเวลาระหว่างรัฐประหารแต่ละครั้งจนถึงปัจจุบันแสดงได้ตามแผนภูมิดังนี้')
  meta(property='og:type', content='website')
  meta(property='og:url', content=settings.config.baseurl+'/vis/coup')
  meta(property='og:image', content=settings.config.baseurl+'/public/images/vis/coup-share.jpg')

  //- Twitter
  meta(name='twitter:title', content='วงเวียนรัฐประหาร โดย ราชดำเนิน ดอต อ็อก')
  meta(name='twitter:description', content='อินโฟกราฟิกวงเวียนรัฐประหาร')
  meta(name='twitter:card', content='app')
  meta(name='twitter:url', content=settings.config.baseurl+'/vis/coup')
  meta(name='twitter:image', content=settings.config.baseurl+'/public/images/vis/coup-share.jpg')

append head
  title="Coup Countdown"
  link(rel="stylesheet", href="../public/css/vis/coup.css")

append body
  article.page.infographic.centeredH
    .heading
      .vis-icon.icon.float-left
      .metadata.float-left
        h2 อินโฟกราฟฟิก
        .gray เผยแพร่: 16 มกราคม 2557
      a.social.float-right(onclick="shareTwitter()")
        .vis-twitter
        .inline-block-middle ทวิตเตอร์
      a.social.float-right(onclick="shareFacebook()")
        .vis-facebook
        .inline-block-middle เฟซบุ๊ก
    hr
    .content
      img(src="../public/images/vis/army.png")
      h3 วงเวียนรัฐประหาร
      .desc นับตั้งแต่การเปลี่ยนแปลงการปกครองในปี พ.ศ. 2475 มีการรัฐประหารในประเทศไทยแล้วทั้งหมด 12 ครั้ง แต่ละครั้งห่างกันโดยเฉลี่ย&nbsp;
        span#counter_avg
        br
        | ประเทศไทยปราศจากรัฐประหารเป็นระยะเวลานานที่สุด&nbsp;
        span#counter_max
        | และสั้นที่สุด&nbsp;
        span#counter_min
      br
      br
      .desc ระยะเวลานับจากรัฐประหาร พ.ศ. 2549
      #counter
      br
      .desc ระยะเวลาระหว่างรัฐประหารแต่ละครั้งจนถึงปัจจุบันแสดงได้ตามแผนภูมิด้านล่างดังนี้
      #vis.centeredH
      .remark หมายเหตุ: หนึ่งปีมี 365 วัน หนึ่งเดือนมี 30 วัน
        br
        | แหล่งข้อมูล: วิกิพีเดีย
        br
        | &copy; 2014 บุญมีแล็บ | boonmeelab@gmail.com

  #fb-root
  script(src="../public/js/vis/d3.v3.min.js")
  script(src="../public/js/vis/d3.tip.v0.6.3.js")
  script(src="../public/js/vis/coup.js")
